html {
    --bg: #353436;
    --bg--painel: red;
    --color-headings: red;
    --color-text: #efdab9;
    --color-border: #353436;
    --navbar-color: #584B4F;
    --border-perfil: #4d4b4d;
    --box-btn: #78AF9F
}

body {
    background-color: var(--bg);
    color: var(--color-text)
}

.navbar-box{
    background-color: var(--navbar-color);
}

.parallax {
    background-image: url("https://konachan.com/sample/90f45a2cdb13770d969d58551be54a10/Konachan.com%20-%20328178%20sample.jpg");
    height: 250px;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    }

    .box-back {
        width: 100%;
        height: 50px;
        background-color: rgb(207, 207, 207);
    }
.img-perfil {
    width: 140px;
    height: 140px;
    margin-top: -100px; 
    border: 5px solid var(--color-border);
}
.border-perfil {
    border: 1px solid var(--border-perfil);
}
.btn-box{
    margin-top: 10px;
    background-color: var(--box-btn);
    min-width: 40px;
    min-height: 40px;  
    border: 1px solid var(--border-perfil);
    border-radius:30px ;
}

.btn-box:hover {
    opacity: 0.7;
}